
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.spinner {

  animation: spin 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}